@model ICollection<PollViewModel>
@using System.Linq
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "_BlogPartial";
    var category = "default";
    
}

<div class="container">
    <div class="heading text-center">
        <h2>Jetzt aber schnell</h2>
    </div>
    <p class="lead">Haben Sie schon für die Umfragen abgestimmt? Diese enden demnächst. Teilen Sie Ihre Antwort mit, um ein best mögliches Meinungsbild aller Bürger zu erreichen. </p> <hr/>
    <div class="row">
        @for (var j = 0; j < Model.Count; j++)
        {
            var item = Model.ElementAt(j);
            <div class="col-lg-3">
                <div class="home-blog-post">

                    <div class="image">

                        @if (item.Image.Count > 0)
                        {
                            string currentImageId = item.Image.First().Id.ToString();
                            <img class="img-fluid" src="/File/GetImage?id=@currentImageId" />
                        }
                        else
                        {
                            <img class="img-fluid" src="/File/GetImage?id=18" />
                        }

                    </div>


                    <p class="author-category">
                        Von <a href="#" class="not-active">User @item.UserId</a> in
                        <a href="#" class="not-active">

                            @if (item.Category is null)
                            {
                                category = "Unbekannt";
                            }
                            else
                            {
                                category = item.Category.Description;
                            }
                            @category
                        </a>
                    </p>

                </div>


                <p class="intro">@item.Text</p>

                <form asp-action="submitPollAnswer" asp-controller="Home" method="post" role="form">
                    <input asp-for="@Model.ElementAt(j).Id" value="@item.Id" type="hidden" />
                    <fieldset class="form-group">
                        @{

                            for (var i = 0; i < item.AnswerOptionsPoll.Count; i++)
                            {
                                var answer = item.AnswerOptionsPoll.ElementAt(i);

                                @Html.RadioButtonFor(Model => Model.ElementAt(j).RadioId, answer.AnswerOptions.Id)<span> </span>
                                @Html.Label(answer.AnswerOptions.Description)<br />
                            }
                        }
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-check">Abstimmen</i>
                        </button>
                    </fieldset>
                </form>



            </div>


        }




    </div>

</div>

