@model IEnumerable<mosPortal.Models.Concern>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "ConcernsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewData["Categories"] as IEnumerable<Category>;
}


<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Anliegen
                <small>Alle aktuellen Anliegen</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="active">Anliegen</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            @foreach (var item in Model)
            {
                <!-- First Blog Post -->
                <h2>
                    <a href="#">@item.Title</a>
                </h2>
                <p class="lead">
                    Kategorie: <a href="index.php">@item.Category.Description</a>
                </p>
                <p><i class="fa fa-clock-o"></i> Erstellt am @item.Date</p>
                <hr>
                <a href="blog-post.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">
                </a>
                <hr>
                <p>@item.Text</p>
                @if (item.UserConcern.Count() == 1)
                {
                    <p id="likesConcern @item.Id">@item.UserConcern.Count() Like</p>
                }
                else
                {
                    <p id="likesConcern @item.Id">@item.UserConcern.Count() Likes</p>
                }
                @if (SignInManager.IsSignedIn(User) && item.allowToVote(await SignInManager.UserManager.GetUserAsync(Context.User)))
                {
                    <a class="btn btn-primary" href="#" id="likeConcern @item.Id" onclick="disableButton(this, @item.Id)">Like <i class="fa fa-thumbs-up"></i></a>
                }
                else
                {
                    <a class="btn btn-primary" href="#" id="likeConcern @item.Id" disabled>Like <i class="fa fa-thumbs-up"></i></a>
                }
                <a class="btn btn-primary" id="readMoreConcern @item.Id" asp-action="ShowConcern" asp-controller="Home" asp-route-concernId="@item.Id">Anzeigen <i class="fa fa-angle-right"></i></a>

                <hr>
            }
            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            @if (SignInManager.IsSignedIn(User))
            {
            <div class="well">
                <span class="input-group-btn">
                    <a class="btn btn-primary" id="createNewConcern" asp-action="CreateConcern" asp-controller="Home">Neues Anliegen <i class="fa fa-plus-square"></i></a>
                </span>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createConcernModal">Neues Anliegen JSon</button>
            </div>

            }
            <!-- Blog Search Well -->
            <div class="well">
                <h4>Nach Anliegen suchen:</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>
            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Alle Kategorien</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            @foreach (var category in categories)
                            {
                                <li>
                                    <a href="#">@category.Description</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>
<!-- /.container -->
<!-- Modal -->
<div class="modal fade" id="createConcernModal" tabindex="-1" role="dialog" aria-labelledby="createConcernModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="CreateConcernJson" asp-controller="Home" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title">Neues Anliegen anlegen</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        @*<label asp-for="Title" class="control-label"></label>*@
                        <input name="Title" class="form-control" />
                        @*<span asp-validation-for="Title" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Text" class="control-label"></label>*@
                        <textarea name="Text" class="form-control"></textarea>
                        @*<span asp-validation-for="Text" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        @*<label asp-for="CategoryId" class="control-label"></label>*@
                        <select name="CategoryId" class="form-control" asp-items="ViewBag.CategoriesList"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Anlegen" class="btn btn-default" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary">Speichern</button>

                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function disableButton(btn, concernId) {
        if (!document.getElementById(btn.id).disabled) {
            document.getElementById(btn.id).disabled = true;
            document.getElementById(btn.id).setAttribute('disabled', 'disabled');

            $.get("/Home/VoteForConcernAsync", { concernId: concernId }, function (data) {
                document.getElementById("likesConcern " + concernId).textContent = (data.votes) + " Likes"; // display id value which is returned from the action method
            });
        }

    }
    $('#createConcernModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        //var concernId = button.data('concernid') // Extract info from data-* attributes
        //test(concernId)
    });

</script>
