@using Microsoft.AspNetCore.Authorization
@model ICollection<PollViewModel>
@inject IAuthorizationService AuthorizationService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "ShowPolls";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewData["Categories"] as IEnumerable<Category>;
    var category = "default";
}

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Umfragen</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Umfragen</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row bar">
            <div class="col-md-3">
                <!-- PAGES MENU -->
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="h4 panel-title">Umfragen</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Kategorien</label>
                            </div>
                            <select class="custom-select" id="selectCategory" onchange="selectCategory()">
                                <option value="0" selected>Alle</option>
                                @foreach (var varCategory in categories)
                                {
                                    <option value="@varCategory.Id">@varCategory.Description</option>
                                }

                            </select>
                        </div>
                        <ul class="nav nav-pills flex-column text-sm">
                            <li class="nav-item">
                                <a href="text.html" class="nav-link">Alle Umfragen</a>
                            </li>@*Alle Polls*@
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="sortdesc()">Endende Umfragen</a>
                            </li>@*Polls die ablaufen*@

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <section>
                    <div id="text-page">
                        <p class="lead">Hier können Sie sich aktiv an Umfragen der Stadt Mosbach einbringen. Nach Ablauf der jeweiligen Frist können die Ergebnisse eingesehen werden.</p>
                        <h1>Umfragen der Gemeinde Mosbach</h1>


                        <div id="blog-listing-big" class="col-md-9">
                            @for (var j = 0; j < Model.Count; j++)
                            {
                                var item = Model.ElementAt(j);
                                <div id="@item.Id @item.Category.Id" name="poll">
                                    <div class="shadow">
                                        <section class="post box Pollbox">
                                            <h2>@item.Title</h2>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <p class="author-category">
                                                        Von <a href="#" class="not-active">User @item.UserId</a> in
                                                        <a href="#" class="not-active">
                                                            @if (item.Category is null)
                                                            {
                                                                category = "Unbekannt";
                                                            }
                                                            else
                                                            {
                                                                category = item.Category.Description;
                                                            }
                                                            @category
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    <p class="date-comments">
                                                        <i class="fa fa-calendar-o"></i><span id="@item.Id @item.End.ToString("dd/MM/yyyy")" name="dates">@item.End.ToString("dd/MM/yyyy")</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <p class="intro">@item.Text</p>
                                            <div class="project owl-carousel" id="carousel">
                                                @{
                                                    if (item.Image != null)
                                                    {
                                                        foreach (var image in item.Image)
                                                        {
                                                            <div class="item">
                                                                <img class="img-fluid" src="/File/GetImage?id=@image.Id"/>
                                                            </div>
                                                        }
                                                    }
                                                    if (item.File != null)
                                                    {
                                                        foreach (var file in item.File)
                                                        {
                                                            <div class="">
                                                                <a target="_blank" href="/File/GetFile?id=@file.Id">@file.Name .pdf</a>'
                                                            </div>
                                                        }
                                                    }
                                                
                                                }
                                            </div>
                                            <form asp-action="submitPollAnswer" asp-controller="Home" method="post" role="form">
                                                <input asp-for="@Model.ElementAt(j).Id" value="@item.Id" type="hidden"/>
                                                <fieldset class="form-group">
                                                    @{

                                                        for (var i = 0; i < item.AnswerOptionsPoll.Count; i++)
                                                        {
                                                            var answer = item.AnswerOptionsPoll.ElementAt(i);


                                                            if (item.userAnswerOptionsPollId == answer.Id)
                                                            {
                                                                <input id="RadioId" name="RadioId" type="radio" value="@answer.Id" checked>
                                                                <span> </span>
                                                                @Html.Label(answer.AnswerOptions.Description)<br/>
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButtonFor(Model => Model.ElementAt(j).RadioId, answer.Id)<span> </span>
                                                                @Html.Label(answer.AnswerOptions.Description)<br/>
                                                            }
                                                        }
                                                    }
                                                    <button class="btn btn-success" type="submit">
                                                        <i class="fa fa-check">Abstimmen</i>
                                                    </button>
                                                </fieldset>
                                            </form>


                                        </section>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var concernElements = [];
    var allDates = [];
    $(document).ready(function() {
        concernElements = document.getElementsByName("poll");
        console.log(concernElements);
        allDates = document.getElementsByName("dates");
        console.log(allDates);


    });

    function selectCategory() {
        var selectedCategory = $('#selectCategory').val();
        console.log('selectedCategory' + selectedCategory);
        for (var i = 0; i < concernElements.length; i++) {
            var categoryid = concernElements[i].id.split(' ')[1];
            console.log('categoryid ' + categoryid);
            console.log('concernElements ' + concernElements[i]);
            if (categoryid == selectedCategory) {
                concernElements[i].style.display = "block";
            } else {
                concernElements[i].style.display = "none";
            }
            if (selectedCategory == 0) {
                concernElements[i].style.display = "block";
            }
        }
    }

    function sortdesc() {

        for (var i = 0; i < concernElements.length; i++) {
            var pollid = concernElements[i].id.split(' ')[0];
            var pollDate = concernElements[i].id.split(' ')[1];
            console.log(pollDate);


        }
        console.log(pollanddate);
    }
</script>