@model ICollection<PollViewModel>
@using System.Linq
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "ShowPolls";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var polls = ViewData["Polls"] as IEnumerable<Category>;
}

<div class="container">
    <h2>Show Polls</h2>
    @*Each Poll
        @foreach (var item in Model)
        {*@
    @for (int j = 0; j< Model.Count; j++)
    {
        var item = Model.ElementAt(j); 
    <div class="panel panel-default container-fluid">
        <div class="panel-heading row">
            <h4 class="col-md-12">@item.Text</h4>
        </div>
        <div class="panel-body">

            @*<div asp-action="submitPollAnswer" asp-controller="Home" class="custom-control custom-radio">*@
            <div class="custom-control custom-radio">
                <form asp-action="submitPollAnswer" asp-controller="Home" method="post" role="form">
                    <input asp-for="@Model.ElementAt(j).Id" value="@item.Id" type="hidden"/>
                    <fieldset class="form-group">
                        @{
                            for (int i = 0; i < item.AnswerOptionsPoll.Count; i++)
                            {
                                var answer = item.AnswerOptionsPoll.ElementAt(i);


                                //Radiobuttons IDs vergeben
                                //Submitbuttons Auswahl des Radiobuttons zum Controller geben
                                //value ist ID aus der Description in AnswerOptions

                                @Html.RadioButtonFor(Model => Model.ElementAt(j).RadioId, answer.AnswerOptions.Id)<span> </span>
                                @Html.Label(answer.AnswerOptions.Description)<br />

                            }
                        }
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-check">Abstimmen</i>
                        </button>
                    </fieldset>
                </form>

                <div class="panel-info row">
                    <span class="col-xs-3 col-sm-9">
                        <small>Gültig bis: @item.End</small>
                    </span>

                    <span class="col-2-sm pull-right">
                        <small>Von User @item.UserId</small>
                    </span>
                </div>
            </div>
        </div>
    </div>
    }
</div>