@model IEnumerable<mosPortal.Models.Concern>

@{
    ViewData["Title"] = "Anliegen";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewData["Title"]
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Tables
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>@ViewData["Status"]</h2>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">

                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkall" /></th>

                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Text)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserConcern)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><input type="checkbox" class="checkthis" /></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Text)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserConcern.Count)
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-concernid="@item.Id">
                                    Anzeigen
                                </button>
                                <!--<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
                </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="ChangeConcernStatus" asp-controller="Administration" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title">Anliegen bearbeiten</h4>
                </div>

                <div class="modal-body">
                    <div id="concernModalTitle"></div>
                    <div id="concernModalText"></div>
                    <hr>
                    <div id="concernModalDate"></div>
                    <hr>
                    <input type="hidden" name="concernModalId" id="concernModalId" />
                    <div class="form-group">
                        <label class="control-label">Status</label>
                        <select name="concernModalStatus" class="form-control" id="concernModalStatus"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary">Speichern</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var concernId = button.data('concernid') // Extract info from data-* attributes
            test(concernId)
        });

        function test(concernId) {
            $.get("/Administration/GetConcernJson", { concernId: concernId }, function (data) {
                document.getElementById("concernModalTitle").innerHTML= "<h4>"+(data.title)+"</h4>";
                document.getElementById("concernModalText").innerHTML = (data.text);
                document.getElementById("concernModalDate").innerHTML = "Erstellt am: "+(data.date);// display id value which is returned from the action method
                var selectStatus = document.getElementById("concernModalStatus");
                var statuses = data.statuses;
                var fragment = document.createDocumentFragment();
                statuses.forEach(function (status, index) {
                    var opt = document.createElement('option');
                    opt.innerHTML = status.description;
                    opt.value = status.id;
                    fragment.appendChild(opt);
                });
                selectStatus.appendChild(fragment);
                $("#concernModalStatus").val(data.statusId);
            });
        }
    $(document).ready(function () {
        $("#mytable #checkall").click(function () {
            if ($("#mytable #checkall").is(':checked')) {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });

            } else {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        $("[data-toggle=tooltip]").tooltip();
    });

</script>