@model IEnumerable<mosPortal.Models.Concern>
@{
    ViewData["Title"] = "ConcernsAdministrationView";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";

}
<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Anliegen</h2>
    </div>
</header>
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Administration">Home</a></li>
        <li class="breadcrumb-item active">Anliegen            </li>
    </ul>
</div>

<!--<section class="forms">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Filter</h3>
                    </div>
                    <div class="card-body">
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">Status</label>
                                <div class="col-sm-9">
                                    <select class="form-control mb-auto" name="concernStatusSelect" id="concernStatusSelect" asp-items="ViewBag.statusList" onchange="selectedStatusChanged()"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<section class="forms">
    <div class="container-fluid">

        <div class="row">
            <!-- Inline Form-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Filter</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-sm-12 form-control-label">Status</label>
                                    <select id="concernStatusSelect" class="col-lg-12" asp-items="ViewBag.statusList" onchange="selectedFilterChanged()"></select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-sm-12 form-control-label">Kategorie</label>
                                    <select id="concernCategorySelect" class="col-lg-12" asp-items="ViewBag.CategoriesList" onchange="selectedFilterChanged()"></select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-sm-12 form-control-label">Suche</label>
                                    <input id="concernSearchText" class="col-lg-12" />

                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="col-sm-12 form-control-label"></label>
                                            <button id="pollSearchButton" type="button" class="btn btn-primary">Suche</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Projects Section-->
<section class="projects no-padding-top">
    <div class="container-fluid">
        @foreach (Concern concern in Model)
        {
            string lastUpdatesBy = "0";
            if (concern.LastUpdatedBy != null)
            {
                lastUpdatesBy = concern.LastUpdatedBy.ToString();
            }
            <!-- Project-->
            <div class="project" name="concern" id="@concern.Id @concern.StatusId @concern.CategoryId @lastUpdatesBy">
                <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                        <div class="project-title d-flex align-items-center">
                            <div class="image has-shadow"><img src="@Url.Action("GetConcernTitleImage", "File", new { concernId = concern.Id})" style="max-height:100%; max-width:100%;   margin-left: auto; margin-right: auto;" alt="..." class="img-fluid"></div>
                            <div class="text">
                                <h3 class="h4">@Html.DisplayFor(modelItem => concern.Title)</h3><small> @Html.DisplayFor(modelItem => concern.Text)</small>
                            </div>
                        </div>
                    </div>
                    <div class="right-col col-lg-4 d-flex align-items-center">
                        <div class="time"><i class="fa fa-clock-o"></i>@concern.Date.ToString("dd.MM.yy")</div>
                        <div class="comments"><i class="fa fa-comment-o"></i>@Html.DisplayFor(modelItem => concern.Comment.Count)</div>
                        <div class="comments"><i class="fa fa-thumbs-o-up"></i>@Html.DisplayFor(modelItem => concern.UserConcern.Count)</div>
                        <div class="project-progress">
                            <div class="progress">
                                <div role="progressbar" style="width: @concern.UserConcern.Count%; height: 6px;" aria-valuenow="@concern.UserConcern.Count" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                            </div>
                        </div>
                        @if (concern.StatusId == 3)
                        {
                            if (concern.LastUpdatedByUser != null)
                            {
                                <div class="comments"><i class="fa fa-edit"></i>@Html.Raw(concern.LastUpdatedByUser.Firstname + ", " + concern.LastUpdatedByUser.Name)</div>
                            }
                            else
                            {
                                <div class="comments"><i class="fa fa-edit"></i>kein Bearbeiter</div>
                            }
                        }

                    </div>
                    <div class="right-col col-lg-2 d-flex align-items-center">
                        @if (concern.UserConcern.Count >= 1 && concern.StatusId == 2)
                        {
                            <button type="button" class="btn btn-primary col-6 mr-1" data-toggle="modal" data-target="#changeConcernStatusModal" data-concernid="@concern.Id" data-concernstatusold="@concern.StatusId">Bearbeiten</button>
                            <!--<button id="createPollButton" type="button" class="btn btn-primary col-6" data-toggle="modal" data-target="#createPollModal" data-concernid="@concern.Id">Umfrage</button>-->
                        }
                        @if (concern.StatusId != 2)
                        {
                            <button type="button" class="btn btn-primary  col-6 mr-1" data-toggle="modal" data-target="#changeConcernStatusModal" data-concernid="@concern.Id" data-concernstatusold="@concern.StatusId">Bearbeiten</button>
                        }
                        @if (concern.StatusId == 5 && ViewBag.allowToCreatePoll)
                        {
                            <button id="createPollButton" type="button" class="btn btn-primary  col-6" data-toggle="modal" data-target="#createPollModal" data-concernid="@concern.Id">Umfrage</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="changeConcernStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeConcernStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Anliegen bearbeiten</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>

            <div class="modal-body">
                <div id="concernModalDiv" style="display:none;">
                    <div id="concernModalTitle"></div>
                    <hr>
                    <div id="concernModalCarousel" class="carousel slide" data-ride="carousel" style="display: none;">
                        <ol id="concernModalCarouselOl" class="carousel-indicators"></ol>
                        <div id="concernModalCarouselItemDiv" class="carousel-inner" style=" width:100%; height: 500px !important;">
                        </div>
                        <a class="carousel-control-prev" href="#concernModalCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#concernModalCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <hr id="concernModalSpacer" style="display:none;">
                    <div id="concernModalFile" style="display:none;">

                    </div>
                    <hr id="concernModalSpacer2" style="display:none;">
                    <div id="concernModalText"></div>
                    <hr>
                    <div id="concernModalDate"></div>
                    <hr>
                    <input type="hidden" name="concernModalId" id="concernModalId" />
                    <input type="hidden" name="concernModelStatusOld" id="concernModelStatusOld" />
                    <div id="concernModalCommentDiv" class="form-group" style="display:none;">
                        <label class="col-md-6 control-label">Kommentar vom Germeinderat</label>
                        <textarea id="concernModalComment" class="form-control" disabled="disabled"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Status</label>
                        <select name="concernModalStatus" class="form-control" id="concernModalStatus"></select>
                    </div>
                </div>
                <div id="concernModalLoad">
                    <div class="text-center">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button id="submitModal" type="submit" class="btn btn-primary" data-dismiss="modal" onclick="changeConcernStatus()">Speichern</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal-->
@await Html.PartialAsync("CreatePollAdministrationView", new Poll { }, new ViewDataDictionary(ViewData))
<script type="text/javascript">
    var elems;
    var fileIds;
    var imageIds;
    var deletedFileIds = [];
    var deletedImageIds = [];
    $(document).ready(function () {
        $("li#linkConcerns").addClass("active");
        elems = document.getElementsByName("concern");
        console.log(elems);

    });
    $('#changeConcernStatusModal').on('show.bs.modal', function (event) {
        console.log("Anderer Test");
        var button = $(event.relatedTarget) // Button that triggered the modal
        var concernId = button.data('concernid')
        var concernStatusOld = button.data('concernstatusold')// Extract info from data-* attributes
        $("#concernModalDiv").hide();
        $("#concernModalLoad").show();
        $("#concernModalCarouselItemDiv").empty();
        $("ol#concernModalCarouselOl").empty();
        $("#concernModalFile").empty();
        $("#concernModalCarousel").hide();
        $("#concernModalSpacer").hide();
        $("#concernModalFile").hide();
        $("#concernModalSpacer2").hide();
        $("#concernModalCommentDiv").hide();
        $("#concernModalComment").attr('disabled', 'disabled');
        $("#concernModalStatus").removeAttr('disabled');
        getConcern(concernId, concernStatusOld);
    });
    $('#createPollModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var concernId = button.data('concernid') // Extract info from data-* attributes
        getConcernToCreatePoll(concernId);
        
    });
    function getConcernToCreatePoll(concernId) {
        $.get("/Administration/GetConcernJson", { concernId: concernId }, function (data) {
            var title = data.title;
            var text = data.text;
            var concernId = data.concernId;
            fileIds = [];
            imageIds = [];
            fileIds = data.fileIds;
            imageIds = data.imageIds;
            console.log(imageIds);
            console.log(fileIds);
            $("#pollTextModal").val(text);
            $("#pollTitleModal").val(title);
            $("#pollConcernIdModal").val(concernId);

            document.getElementById("pollSelectCategoryModal").selectedIndex = data.categoryId; //-1 will er nicht;
            if (data.comment == null) {
                $("#pollCommentModal").val("Kein Kommentar vom Gemeinderat");
            }
            else {
                $("#pollCommentModal").val(data.comment);
            }
            //$("#pollFile").show();
            //$("#pollFileHeader").show();
            
            if (fileIds.length > 0) {
                $("#pollFile").show();
                $("#pollFileHeader").show();
                for (var i = 0; i < fileIds.length; i++) {
                    var link = '<div id="file' + fileIds[i] + '"><a onclick="deleteFileFromPoll(\'file\', \'' + fileIds[i] + '\')"><i class="fa fa-times"></i></a><a target="_blank" href="/File/GetFile?id=' + fileIds[i] + '">Dokument ' + (i + 1) + '</a></br></div >';
                    //var link = '<a target="_blank" href="/File/GetFile?id=' + fileIds[i] + '">Dokument ' + (i + 1) + '.pdf</a>';
                    $("#pollFile").append(link);
                }
            }
            if (imageIds.length > 0) {
                $("#pollFile").show();
                $("#pollFileHeader").show();
                for (var i = 0; i < imageIds.length; i++) {
                    var link = '<div id="image' + imageIds[i] + '"><a onclick="deleteFileFromPoll(\'image\', \'' + imageIds[i] + '\')"><i class="fa fa-times"></i></a><a target="_blank" href="/File/GetImage?id=' + imageIds[i] + '">Bild ' + (i + 1) +'</a></br></div >';
                    //var link = '<a target="_blank" href="/File/GetImage?id=' + imageIds[i] + '">Bild ' + (i + 1)+'</a>';
                    $("#pollFile").append(link);
                }
            }
        });
    }
    function createPoll() {
        var answerElements = document.getElementsByName("answers");
        var answers = [];
        for (var i = 0; i < answerElements.length; i++) {
            answers.push(answerElements[i].value);
        }
        var pollImageIds = [];
        var pollFileIds = [];
        if (deletedImageIds > 0) {
            for (var i = 0; i < deletedImageIds.length; i++) {
                for (var j = 0; j > imageIds.length; i++) {
                    if (imageIds[j] != deletedImageIds[i]) {
                        pollImageIds.push(imageIds[j]);
                    }
                }
            }
        }
        else {
            pollImageIds = imageIds;
        }
        if (deletedFileIds > 0) {
            for (var i = 0; i < deletedFileIds.length; i++) {
                for (var j = 0; j > fileIds.length; i++) {
                    if (fileIds[j] != deletedFileIds[i]) {
                        pollImageIds.push(fileIds[j]);
                    }
                }
            }
        }
        else {
            pollFileIds = fileIds;
        }
        var sendData = {
            Title: $("#pollTitleModal").val(),
            Text: $("#pollTextModal").val(),
            End: $("#pollEndModal").val(),
            NeedsLocalCouncil: document.getElementById("pollNeedsLocalCouncilModal").checked,
            CategoryId: $("#pollSelectCategoryModal").val(),
            ConcernId: $("#pollConcernIdModal").val(),
            Answers: answers,
            FileIds: pollFileIds,
            ImageIds: pollImageIds
        };
        $.ajax({
            type: 'POST',
            url: '/Administration/CreatePollAsync',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(sendData),
            success: function (data) {
                console.log(data);
                changeConcernDiv(data.concernId, data.concernStatusId);
                $("#createPollButton").hide();
                if (data.result >=2) {
                    vNotify.success({ text: "Die Umfrage wurde erfolgreich erstellt!", title: "Umfrage erstellt" });
                }
                else {
                    vNotify.error({ text: "Die Umfrage konnte nicht erstellt werden!", title: "Erstellung fehlgeschlagen!" });
                }
            }
        });
    }
    function getConcern(concernId, concernStatusOld) {
        console.log("Hallo");
        $.get("/Administration/GetConcernJson", { concernId: concernId }, function (data) {
            $("#concernModalId").val(concernId);
            $('#concernModelStatusOld').val(concernStatusOld);
            document.getElementById("concernModalTitle").innerHTML = "<h4>" + (data.title) + "</h4>";
            document.getElementById("concernModalText").innerHTML = (data.text);
            document.getElementById("concernModalDate").innerHTML = "Erstellt am: " + (data.date);// display id value which is returned from the action method
            //var selectStatus = document.getElementById("concernModalStatus");
            var statuses = data.statuses;
            var fragment = document.createDocumentFragment();
            $("#concernModalStatus").empty();
            if (!(statuses == null)) {
                statuses.forEach(function (status, index) {
                    var opt = document.createElement('option');
                    opt.innerHTML = status.description;
                    opt.value = status.id;
                    fragment.appendChild(opt);
                    $("#concernModalStatus").append(fragment);
                    $("#concernModalStatus").val(data.statusId);
                });
            }
            else {
                $("#concernModalStatus").attr('disabled', 'disabled');
            }

            var imageIds = data.imageIds;
            var fileIds = data.fileIds;
            if (imageIds.length > 0) {
                $("#concernModalCarousel").show();
                $("#concernModalSpacer").show();
                for (var i = 0; i < imageIds.length; i++) {
                    var li = "";
                    var div = "";
                    if (i == 0) {
                        li = '<li data-target="#concernModalCarousel" data-slide-to="' + i + '" class="active"></li>';
                        div = '<div class="carousel-item active">';
                    }
                    else {
                        li = '<li data-target="#concernModalCarousel" data-slide-to="' + i + '" class="active"></li>';
                        div = '<div class="carousel-item">'
                    }
                    $("ol#concernModalCarouselOl").append(li);
                    
                    var image = '<img class="d-block w-100" src="/File/GetImage?id=' + imageIds[i] + '">';
                    $("#concernModalCarouselItemDiv").append(div + image + "</div>");
                }
            }
            if (fileIds.length > 0) {
                $("#concernModalFile").show();
                $("#concernModalSpacer2").show();
                for (var i = 0; i < fileIds.length; i++) {
                    var link = '<a target="_blank" href="/File/GetFile?id=' + fileIds[i] + '">Dokument ' + (i+1) + '.pdf</a>';
                    $("#concernModalFile").append(link);
                }
            }
            if (data.statusId > 3) {
                $("#concernModalCommentDiv").show();
                $("#concernModalComment").val(data.comment);
                if (data.statusId == 4) {
                    $("#concernModalComment").removeAttr("disabled");
                }
            }
            setTimeout(function () {
                $("#concernModalDiv").show();
                $("#concernModalLoad").hide();
            }, 1500)

        });
    }
    function selectedStatusChanged() {
        var select = document.getElementById("concernStatusSelect");
        var selectedStatus = select.value;
        for (var i = 0; i < elems.length; i++) {
            var id = elems[i].id;
            var ids = id.split(" ");
            if (ids[1] != selectedStatus) {
                elems[i].style.display = "none";
            }
            else {
                elems[i].style.display = "block";
            }
            if (selectedStatus == 0) {
                elems[i].style.display = "block";
            }
        }
    }
    function changeConcernStatus() {
        var selectElement = document.getElementById("concernModalStatus");
        var concernElement = document.getElementById("concernModalId");
        var oldStatusElement = document.getElementById("concernModelStatusOld");
        var comment = $("#concernModalComment").val();
        var oldStatusId = oldStatusElement.value;
        var statusId = selectElement.value;
        var concernId = concernElement.value;
        var result;
        $.post("/Administration/ChangeConcernStatus", { concern: concernId, status: statusId, comment: comment }, function (data) {
            result = (data.result);
            if (result == 1) {
                vNotify.success({ text: 'Der Status wurde erfolgreich geändert!', title: 'Status geändert' });
                changeConcernDiv(concernId, statusId);
            }
            else {
                vNotify.error({ text: 'Der Status konnte nicht geändert werden!', title: 'Statusänderung fehlgeschlagen' })
            }
        });
    }
    function changeConcernDiv(concernId, statusId) {
        var concernElements = document.getElementsByName("concern");
        elems = concernElements;
        for (var i = 0; i < concernElements.length; i++) {
            var ids = concernElements[i].id.split(" ")
            if (ids[0] == concernId) {
                if (ids.length < 4) {
                    var newConcernId = ids[0] + " " + statusId + " " + ids[2] + " 0";
                }
                else {
                    var newConcernId = ids[0] + " " + statusId + " " + ids[2] + " " + ids[3];
                }
                concernElements[i].setAttribute("id", newConcernId);
                var display = false;
                if (document.getElementById("concernStatusSelect").value == 0) {
                    $("#concernStatusSelect option").each(function () {
                        var value = $(this).val();
                        if (value == statusId) {
                            display = true;
                            //break;
                            return false;
                        }
                    });
                }
                if (document.getElementById("concernStatusSelect").value == statusId) {
                    display = true;
                }
                if (display == false) {
                    concernElements[i].style.display = "none";
                }
            }
        }
    }
    function selectedFilterChanged() {
        var statusSelect = document.getElementById("concernStatusSelect");
        var selectedStatus = statusSelect.value;
        var categorySelect = document.getElementById("concernCategorySelect");
        var selectedCategory = categorySelect.value;
        for (var i = 0; i < elems.length; i++) {
            var display = "block";

            var id = elems[i].id;
            var ids = id.split(" ");

            if (ids[1] != selectedStatus) {
                display = "none";
            }
            else {
                display = "block";
            }
            if (selectedStatus == 0) {
                display = "block";
            }
            if (display != "none") {
                if (ids[2] != selectedCategory) {
                    display = "none";
                }
                else {
                    display = "block";
                }
                if (selectedCategory == 0) {
                    display = "block";
                }
            }
            elems[i].style.display = display;
        }
    }
    function deleteFileFromPoll(fileType, id) {
        console.log("Ja");
        fileDiv = "#" + fileType+id;
        console.log(fileDiv);
        $(fileDiv).hide();
        if (fileType == "file") {
            deletedFileIds.push(id);
        }
        else {
            deletedImageIds.push(id)
        }
    }
</script>