@model IEnumerable<mosPortal.Models.Concern>
@{
    ViewData["Title"] = "ConcernsAdministrationView";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}


<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Anliegen</h2>
    </div>
</header>
<!-- Projects Section-->
<section class="projects no-padding-top">
    <div class="container-fluid">
        @foreach (Concern concern in Model)
        {
            <!-- Project-->
            <div class="project">
                <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                        <div class="project-title d-flex align-items-center">
                            <div class="image has-shadow"><img src="img/project-1.jpg" alt="..." class="img-fluid"></div>
                            <div class="text">
                                <h3 class="h4">@Html.DisplayFor(modelItem => concern.Title)</h3><small> @Html.DisplayFor(modelItem => concern.Text)</small>
                            </div>
                        </div>
                    </div>
                    <div class="right-col col-lg-4 d-flex align-items-center">
                        <div class="time"><i class="fa fa-clock-o"></i>@concern.Date.ToString("dd.MM.yy")</div>
                        <div class="comments"><i class="fa fa-comment-o"></i>@Html.DisplayFor(modelItem => concern.Comment.Count)</div>
                        <div class="comments"><i class="fa fa-thumbs-o-up"></i>@Html.DisplayFor(modelItem => concern.UserConcern.Count)</div>
                        <div class="project-progress">
                            <div class="progress">
                                <div role="progressbar" style="width: @concern.UserConcern.Count%; height: 6px;" aria-valuenow="@concern.UserConcern.Count" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                            </div>
                        </div>
                    </div>
                    <div class="right-col col-lg-2 d-flex align-items-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeConcernStatusModal" data-concernid="@concern.Id">Bearbeiten</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="changeConcernStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeConcernStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="ChangeConcernStatus" asp-controller="Administration" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title">Anliegen bearbeiten</h4>
                </div>

                <div class="modal-body">
                    <div id="concernModalTitle"></div>
                    <div id="concernModalText"></div>
                    <hr>
                    <div id="concernModalDate"></div>
                    <hr>
                    <input type="hidden" name="concernModalId" id="concernModalId" />
                    <div class="form-group">
                        <label class="control-label">Status</label>
                        <select name="concernModalStatus" class="form-control" id="concernModalStatus"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary">Speichern</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
        $('#changeConcernStatusModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var concernId = button.data('concernid') // Extract info from data-* attributes
            test(concernId)
        });

        function test(concernId) {
            $.get("/Administration/GetConcernJson", { concernId: concernId }, function (data) {
                $("#concernModalId").val(concernId);
                document.getElementById("concernModalTitle").innerHTML= "<h4>"+(data.title)+"</h4>";
                document.getElementById("concernModalText").innerHTML = (data.text);
                document.getElementById("concernModalDate").innerHTML = "Erstellt am: "+(data.date);// display id value which is returned from the action method
                var selectStatus = document.getElementById("concernModalStatus");
                var statuses = data.statuses;
                var fragment = document.createDocumentFragment();
                statuses.forEach(function (status, index) {
                    var opt = document.createElement('option');
                    opt.innerHTML = status.description;
                    opt.value = status.id;
                    fragment.appendChild(opt);
                });
                selectStatus.appendChild(fragment);
                $("#concernModalStatus").val(data.statusId);
            });
        }
    $(document).ready(function () {
        $("#mytable #checkall").click(function () {
            if ($("#mytable #checkall").is(':checked')) {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });

            } else {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        $("[data-toggle=tooltip]").tooltip();
    });

</script>
