@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Übersicht</h2>
    </div>
</header>
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-violet">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="title">
                        <span>Anliegen über<br>100 Votes</span>
                        <div class="progress">
                            <div role="progressbar" style="height: 4px; width: @ViewBag.ConcernStatusTwoCount%;" aria-valuenow="@ViewBag.ConcernStatusTwoCount" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>@ViewData["ConcernStatusTwoCount"]</strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-red">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="title">
                        <span>Anliegen<br>in Bearbeitung</span>
                        <div class="progress">
                            <div role="progressbar" style="height: 4px; width: @ViewData["ConcernStatusThreeCount"]%;" aria-valuenow=@ViewData["ConcernStatusThreeCount"] aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>@ViewData["ConcernStatusThreeCount"]</strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-green">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <div class="title">
                        <span>Anliegen<br>in Prüfung</span>
                        <div class="progress">
                            <div role="progressbar" style="height: 4px; width: @ViewData["ConcernStatusOneCount"]%;" aria-valuenow=@ViewData["ConcernStatusOneCount"] aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>@ViewData["ConcernStatusOneCount"]</strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-orange">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="title">
                        <span>Laufende<br>Umfragen</span>
                        <div class="progress">
                            <div role="progressbar" style="height: 4px; width: @ViewData["PollCount"]%;" aria-valuenow=@ViewData["PollCount"] aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>@ViewData["PollCount"]</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Charts Section-->
<section class="charts">
    <div class="container-fluid">
        <div class="row">
            @foreach (Poll poll in ViewBag.CurrentPolls)
            {
                @await Html.PartialAsync("PollAdministrationPartialView", poll)
            }
        </div>
    </div>
</section>

@await Html.PartialAsync("PollAdministrationView")

<script type="text/javascript">
    var colors = ["#990066", "#66cc33", "#006699", "#ff6600", "#009999", "#cc3333", "#ffff00", "663399"];
    $(document).ready(function() {
        $("li#linkHome").addClass("active");
        var elems = document.getElementsByName("poll");
        for (var i = 0; i < elems.length; i++) {
            var ids = elems[i].id;
            var pollId = ids.split(" ")[0];

            var chartId = "pollChart " + pollId;
            var noVotesId = "pollNoVotes " + pollId;
            createChart(chartId, pollId, noVotesId);
            //console.log(matches[i].id);
            //console.log(id[id.length - 1]);

            /*$.get("/Administration/GetPollAnswers", { pollId: pollId }, function (data) {

            });*/
        }
    });

    function createChart(chartId, pollId, noVotesId) {
        $.ajax({
            async: false,
            type: 'GET',
            url: '/Administration/GetPollAnswers?pollId=' + pollId,
            success: function(data) {
                var count = data.length;
                var chartColors = [];
                var j = 0;
                for (var i = 0; i < count; i++) {
                    if (j == (colors.length - 1)) {
                        j = 0;
                    }
                    chartColors.push(colors[j]);
                    j++;
                }
                var answerCountNotNull = false;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].value == 0) {
                        answerCountNotNull = false;
                    } else {
                        answerCountNotNull = true;
                        break;
                    }
                }
                if (answerCountNotNull == true) {
                    Morris.Donut({
                        element: chartId,
                        data: data,
                        colors: chartColors
                    });
                    document.getElementById(chartId).style.display = "block";
                    document.getElementById(noVotesId).style.display = "none";
                } else {
                    document.getElementById(chartId).style.display = "none";
                    document.getElementById(noVotesId).style.display = "block";
                }
            }
        });
    }
</script>