@model IEnumerable<mosPortal.Models.Poll>

@{
    ViewData["Title"] = "Anliegen";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Home <small>Umfragen</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
    <!-- /.row -->
    <div class="col">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.End)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    @*<div class="row">
        <div class="col-sm">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Text)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.End)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NeedsLocalCouncil)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Approved)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Text)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.End)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NeedsLocalCouncil)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Approved)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Password)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    *@
    <div class="col">
        Test
    </div>
        </div>
    <div class="row">
        <div class="col">Test</div>
        <div class="col">Test</div>
        <div class="col">Test</div>

    </div>
</div>
